* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error {
  color: red;
  font-weight: bold;
  padding-bottom: 20px;
}

.message {
  color: green;
  font-weight: bold;
  padding-bottom: 20px;
}

input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.Application {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53565ac9;
}

.form-inner {
  display: block;
  position: relative;
}

.form-inner:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #acd7ff, #1976d2);
}

.Registration {
  position: relative;
  display: block;
  background-color: #FFF;
  z-index: 2;
}

.form{
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 30px 30px 0px 30px;
  z-index: 2;
}

h2 {
  color: #1976d2;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
} 

.input-container {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.input-container label {
  display: block;
  color: #666;
  font-size: 15px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.input-container:focus-within label {
  color: #1976d2;
}

.input-container input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #e4e4e4;
  border-radius: 8px;
  transition: 0.4s;
}

.input-container input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #acd7ff, #acd7ff 50%, #1976d2);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #000;
  font-weight: 700;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-position: 100% 0%;
}

.form-inner button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #acd7ff, #acd7ff 50%, #1976d2);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #000;
  font-weight: 700;
  cursor: pointer;
}

.form-inner button:hover {
  background-position: 100% 0%;
}

.Registration {
  display: flex;
  justify-content: end;
  padding: 10px;
}